*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #ffc20e;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

